.advantages{
	@apply relative before:top-[-80px] sm:before:top-[-45px];
	&::before{
		content: '';
		position: absolute;
		height: 100px;
		width: 100%;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 16.96%);
		left: 0;
		z-index: 10;
		opacity: 0.97;
	}
}

.advantages__wrap{
	@apply flex justify-center flex-wrap gap-y-5 sm:gap-y-[11px];
}
.advantages__item{
	@apply w-1/2 sm:w-1/3 px-2.5 text-center text-[12px] sm:text-[14px] lg:text-[18px] leading-[1.5] flex flex-col items-center text-[#2B2B2B];
}
.advantages__item-icon{
	@apply size-[80px] sm:size-[110px] rounded-full border-[3px] border-accent-500 flex items-center justify-center text-blue-500 font-medium leading-[0.8] mb-4;
	img{
		@apply w-3/5 sm:w-auto h-auto;
	}
}
.advantages__item-icon_text{
	@apply text-[22px] sm:text-[28px];
	span{
		@apply text-[16px] sm:text-[18px];
	}
}