.video{
	@apply relative;
}

.video-item{
	@apply relative max-w-[1018px] w-full aspect-[4/3] sm:aspect-video mx-auto rounded-[40px] overflow-hidden z-[1];
	&::before{
		content: '';
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(10, 67, 124, 0.6) 29.8%, rgba(12, 79, 147, 0) 75.92%);
	}
	.play-btn{
		@apply absolute z-50 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 cursor-pointer transition-opacity hover:opacity-80;
	}
}